body{
    background-color: #1a1a20
}

/* BOTÃO PLAY E PAUSE */
.botão1{
    position: absolute;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    top: 490px;

    & .play{
        margin-left: 645px;
        width: 70px;
    }

    & .pause{
        display: none;
        margin-left: 645px;
        width: 70px;
    }
}